html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

// -------------------------------------

$color-primary: #F03000;
$lightgray: #F0F0F0;
$darkgrey: #888888;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$margin-primary: 20px;

body {
    margin-left: $margin-primary;
    margin-right: $margin-primary;
    font-family: $font-primary;
    font-size: 16px;
    color: black;
}

.header,
.products,
.services,
.news,
.footer {
    margin-bottom: 40px;
}

.lastminute__heading,
.news__heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

// -------------------------------------

// Header

.menu {
    list-style: none;
    display: flex;
    column-gap: 40px;
    padding-left: 0;
    flex-basis: 50%;
    margin-top: 40px;
    margin-bottom: 0;
}

.menu__item {
    text-decoration: none;
    color: $color-primary;
    font-size: 18px;
    font-weight: bold;
}

.menu__item--hover:hover {
    background-color: $color-primary;
    color: white;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        margin-bottom: 60px;
    }
}

.header__logo {
    margin-top: 40px;
}

// Holiday offer

.products {
    display: grid;
    grid-template-rows: 240px repeat(2, 150px);
    gap: 20px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 380px 180px;
    }
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.product__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.product__text {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.product__info {
    margin-bottom: 0;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
}

.product__title {
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
    padding-left: 20px;
}

.product__price span {
    display: inline-block;
    background-color: $color-primary;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.product__price {
    padding: 20px;
}

@media screen and (min-width: 768px) {
    
    .product--big {
        grid-column: 1 / 3;
    }
}

// Services boxes

.service {
    display: flex;
    align-items: center;
    background-color: $lightgray;

    @media screen and (min-width: 768px) {
        flex-direction: column;
    }
}

.service__title {
    color: $color-primary;
    font-size: 18px;
}

.services {
    display: grid;
    grid-template-rows: repeat(4, 120px);
    gap: 10px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

.service__img {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}

.service__text {
    padding-right: 10px;
}


// News

.news__item {
    background-color: $lightgray;
    padding: 20px;
}

.news__date {
    color: $darkgrey;
    font-weight: bold;
    margin-top: 0;
}

.news__title {
    color: $color-primary;
    font-size: 16px;
    font-weight: bold;
}

.news__text {
    font-weight: bold;
    margin-bottom: 0;
}

.news {
    display: grid;
    gap: 10px;
}


// Footer

.footer {
    background-color: #444444;
    text-align: center;
}

.footer__text {
    color: white;
    padding: 20px;
}


